body { background: #48211c; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 25px; display: flex; }
.block-search-0 { color: #51abdf; font-size: 21px; margin-bottom: 5px; }
.block-token-1 { color: #980adf; font-size: 14px; margin-bottom: 5px; }
.block-config-2 { color: #adf0b5; font-size: 19px; margin-bottom: 5px; }
.block-config-3 { color: #a66696; font-size: 15px; margin-bottom: 5px; }
.block-logger-4 { color: #3776a7; font-size: 16px; margin-bottom: 5px; }